@charset "utf-8";
/* CSS Document */

.divTitle {font-size: 1.5rem}
#divTitleLeft {width:10%}
#divOpName {text-align: left; width:20% }
#divOpResult {text-align: left; width:16% }
#divColon {text-align: center; width:8% }
#divMyResult {text-align: right; width:16%}
#divMyName {text-align: center; width:20%}
#divTitleRight {width:10% }

#btnRock0 {text-align: right; width:30%}
#btnPaper0 {text-align: center; width:30%}
#btnScissors0 {text-align: left; width:30% }

.zone1 {
	background-color: aqua;
}

.zone0 {
	background-color: blueviolet;
}


.imgBigIcon {
    text-align: center;
	width: 35vw;
	height: 35vw;
}

.imgSmallIcon {
    text-align: center;
	width: 20vw;
	height: 20vw;
}

.divSmallIcon {
    text-align: center;
	width: 20vw;
	height: 20vw;
}

@media (orientation: landscape) {
	#imgBigIcon0 {
		transform: scaleX(-1);
	}
  }

@media (orientation: portrait) {
	#imgBigIcon0 {
		transform: rotate(270deg);
	}
	#imgBigIcon1 {
		transform: rotate(90deg);
	}
}

#responseText {
	width: 30vw;
	height: 30vw;
}

#divOverlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
	cursor: pointer;
}

#divOverlayWait {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
	cursor: pointer;
}


